<div class="account-title">{{ title }}</div>
<form nz-form [formGroup]="form" (ngSubmit)="step1()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'请输入有效的电子邮件地址。'">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="email"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12" class="text-left">
      没有账户?<a (click)="create()">创建一个!</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12" class="text-left">
      <a (click)="option()">登录选项</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      下一步
    </button>
  </nz-form-item>
</form>
